<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fa-all.min.css">

    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>{{.Title}}</h1>
      <p>{{.Description}}</p>
      <div class="row">
        <div class="col-sm">
          <h2>{{ .Params.download }}</h2>
        </div>
        <div class="col-sm">
          <h3>{{ .Params.another_var }}</h3>
        </div>
        <div class="col-sm">
          <h4><i class="fas fa-asterisk"></i>One of three columns</h4>
        </div>
      </div>
      {{ .Content }}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fa-all.min.js"></script>
  </body>
</html>
