<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class="liguros"><a href="https://liguros.gitlab.io">liguros.gitlab.io</a></li>
            <img src="https://img.shields.io/liberapay/receives/LiGurOS.svg?logo=liberapay"> from 
            <img src="https://img.shields.io/liberapay/patrons/LiGurOS.svg?logo=liberapay">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
